{% extends 'base.html' %}
{% load static %}
{% block styles %}
{{ block.super }}
<link href="{% static 'css/courses/courses.css' %}" rel="stylesheet" type="text/css"/>
{% endblock %}
{% block content %}
{% load humanize %}
{% load course_page_extras %}
{% load courses_page_extras %}
<!--Breadcrumb start-->
<div class="ed_pagetitle" data-stellar-background-ratio="0.5" data-stellar-vertical-offset="0" style="background-image: url(http://placehold.it/921X533);">
    <div class="ed_img_overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-4 col-sm-6">
                    <div class="page_title">
                        <h2>Single course</h2>
                    </div>
                </div>
                <div class="col-lg-6 col-md-8 col-sm-6">
                    <ul class="breadcrumb">
                        <li><a href="/">home</a></li>
                        <li><i class="fa fa-chevron-left"></i></li>
                        <li><a href="/courses">educo courses</a></li>
                        <li><i class="fa fa-chevron-left"></i></li>
                        <li><a href="/course/{{ course.id }}">Single course</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--Breadcrumb end-->
    <!--Single content start-->
    <div class="ed_graysection ed_course_single ed_toppadder80 ed_bottompadder80">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                    <div class="ed_course_single_item">
                        <div class="ed_course_single_image">
                            <img src="{{ MEDIA_URL }}{{ course.course_image }}" alt="event image" width="806px" height="387px" />
                        </div>
                        <div class="ed_course_single_info">
                            <h2>{{ course }} course <span>Ksh. {{ course.price|intcomma }}</span></h2>
                            <div class="ed_rating">
                                <div class="row">
                                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
                                        <div class="row">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <div class="ed_stardiv">
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <p id="rating">(5 review)</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 pull-right text-right">
                                        <div class="ed_views">
                                            <i class="fas fa-users"></i>
                                            <span>{{ course|get_students_total }} students</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                    <div class="course_detail">
                                        <div class="course_faculty">
                                            <!-- <img src="http://placehold.it/32X32" alt=""> --> <a href="instructor_dashboard.html">{{ course.tutor }}</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-right">
                                    <div class="ed_course_duration">
                                    time duration: {{ course.pk|get_course_duration }}
                                    <!-- <p>post graduation course</p> -->
                                </div>
                                </div>
                            </div>
                        </div>
                        <div class="ed_course_single_tab">
                            <div role="tabpanel">
                                <!-- Nav tabs -->
                                <ul class="nav nav-tabs" role="tablist">
                                    <li role="presentation" class="active"><a href="#description" aria-controls="description" role="tab" data-toggle="tab">description</a></li>
                                    <!-- <li role="presentation"><a href="#students" aria-controls="students" role="tab" data-toggle="tab">students</a></li> -->
                                    <li role="presentation"><a href="#news" aria-controls="news" role="tab" data-toggle="tab">news</a></li>
                                    <!-- <li role="presentation"><a href="#events" aria-controls="events" role="tab" data-toggle="tab">events</a></li> -->
                                </ul>
                                <!-- Tab panes -->
                                <div class="tab-content">
                                    <div role="tabpanel" class="tab-pane active" id="description">
                                        <div class="ed_course_tabconetent">
                                        <h2>about course</h2>
                                            <p>{{ course.description }}</p>
                                        </div>
                                    </div>
                                    <div role="tabpanel" class="tab-pane" id="news">
                                        <div class="ed_course_tabconetent">
                                            <h2>course news</h2>
                                            <h5>some recent news about this course....</h5>
                                            <p> I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. </p>
                                        </div>
                                    </div>
                                    <div role="tabpanel" class="tab-pane" id="events">
                                        <div class="ed_course_single_info">
                                            <h2>total events on this course :-<span>5</span></h2>
                                            <div class="ed_course_single_inner_tab">
                                                <div role="tabpanel">
                                                    <!-- Nav tabs -->
                                                    <ul class="nav nav-tabs" role="tablist">
                                                        <li role="presentation" class="active"><a href="#upcoming" aria-controls="upcoming" role="tab" data-toggle="tab">upcoming</a></li>
                                                        <li role="presentation"><a href="#past" aria-controls="past" role="tab" data-toggle="tab">past</a></li>
                                                    </ul>
                                                    <!-- Tab panes -->
                                                    <div class="tab-content">
                                                        <div role="tabpanel" class="tab-pane active" id="upcoming">
                                                            <div class="ed_course_event">
                                                                <h5>1. mobile capabilities</h5>
                                                                <p><span>orgnaiger :-</span> James Marco</p>
                                                                <p><span>held on :-</span> October 1 @ 7:30 Am - 9:00 Am</p>
                                                                <p>It is pleasure,  expound the actual teachings of the great explorer of the truthI will give you a complete account of the system, and No one rejects, dislikes, or avoids pleasure itself, because.</p>
                                                            </div>
                                                            <div class="ed_course_event">
                                                                <h5>2. Management Prog.</h5>
                                                                <p><span>orgnaiger :-</span> Fumes Sarcoma</p>
                                                                <p><span>held on :-</span>October 3 @ 10:30 Am - 2:00 Pm</p>
                                                                <p>I will give you a complete account of the system, and No one rejects, dislikes, or avoids pleasure itself, because it is pleasure,  expound the actual teachings of the great explorer of the truth.</p>
                                                            </div>
                                                        </div>
                                                        <div role="tabpanel" class="tab-pane" id="past">
                                                            <div class="ed_course_event">
                                                                <h5>1. JavaScript Campus.</h5>
                                                                <p><span>orgnaiger :-</span> Tina Fibonacci</p>
                                                                <p><span>held on :-</span>September 20 @ 7:30 Pm - 12:00 Am</p>
                                                                <p>avoids pleasure itself, because it is pleasure,  expound the actual teachings of the great explorer of the truth will give you a complete account of the system, and No one rejects, dislikes.</p>
                                                            </div>
                                                            <div class="ed_course_event">
                                                                <h5>2. Coding Seminar</h5>
                                                                <p><span>orgnaiger :-</span> James Marco</p>
                                                                <p><span>held on :-</span> September 10 @ 7:30 Am - 9:00 Am</p>
                                                                <p>great explorer of the complete account of the system, and No one rejects, dislikes, or avoids pleasure itself, because it is pleasure,  expound the actual teachings of the truth.</p>
                                                            </div>
                                                            <div class="ed_course_event">
                                                                <h5>3. Project Learning</h5>
                                                                <p><span>orgnaiger :-</span> Shy Tommy</p>
                                                                <p><span>held on :-</span>September 30 @ 10:30 Am - 2:00 Pm</p>
                                                                <p>one rejects, dislikes, or avoids pleasure itself, because it is pleasure, of the system, and No expound the actual teachings of the great explorer of the truth.</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div><!--tab End-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!--tab End-->
                    </div>
                    <div class="ed_time_executor ed_toppadder40">
                        <ul>
                            <li><a href="#!">lessons</a> <span>estimated time</span></li>
                            {% for lesson in lessons %}
                            <li><a href="course_lesson.html">{{ lesson.title }}</a> <span>{{ lesson.duration }}</span></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
    <!--Sidebar Start-->
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="sidebar_wrapper_upper">
                        <div class="sidebar_wrapper">
                            <aside class="widget widget_button">
                                <a href="purchase_course.html" class="ed_btn ed_green">Join this course</a>
                            </aside>
                            <!-- <aside class="widget widget_categories">
                                <h4 class="widget-title">related courses</h4>
                                <ul>
                                    <li><a href="course_single.html"><i class="fa fa-chevron-right"></i> Management Prog.</a></li>
                                    <li><a href="course_single.html"><i class="fa fa-chevron-right"></i> ethical heaking</a></li>
                                    <li><a href="course_single.html"><i class="fa fa-chevron-right"></i> Mobile Capabilities</a></li>
                                    <li><a href="course_single.html"><i class="fa fa-chevron-right"></i> Javascript Campus</a></li>
                                    <li><a href="course_single.html"><i class="fa fa-chevron-right"></i> Coding Seminar</a></li>
                                    <li><a href="course_single.html"><i class="fa fa-chevron-right"></i> html css</a></li>
                                    <li><a href="course_single.html"><i class="fa fa-chevron-right"></i> it skills</a></li>

                                </ul>
                            </aside> -->
                            <!-- <aside class="widget widget_sharing">
                                <h4 class="widget-title">share this course</h4>
                                <ul>
                                    <li><a href="course_single.html"><i class="fa fa-facebook"></i> facebook</a></li>
                                    <li><a href="course_single.html"><i class="fa fa-linkedin"></i> linkedin</a></li>
                                    <li><a href="course_single.html"><i class="fa fa-twitter"></i> twitter</a></li>
                                    <li><a href="course_single.html"><i class="fa fa-google-plus"></i> google+</a></li>
                                </ul> -->
                            </aside>
                        </div>
                    </div>
                </div>
                <!-- <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="ed_sidebar_slider ed_bottompadder10">
                        <h3>popular courses</h3>
                        <div id="owl-demo3" class="owl-carousel owl-theme">
                            <div class="item">
                                <div class="ed_item_img">
                                    <img src="http://placehold.it/263X166" alt="item1" class="img-responsive">
                                </div>
                                <div class="ed_mostrecomeded_course_slider ed_most_recomended_data">
                                    <h4><a href="course_single.html">Project Learning </a><span>£25</span></h4>
                                </div>
                            </div>
                            <div class="item">
                                <div class="ed_item_img">
                                <img src="http://placehold.it/263X166" alt="item2" class="img-responsive">
                                </div>
                                <div class="ed_mostrecomeded_course_slider ed_most_recomended_data">
                                    <h4><a href="course_single.html">billing seminar</a><span>free</span></h4>
                                </div>
                            </div>
                            <div class="item">
                                <div class="ed_item_img">
                                <img src="http://placehold.it/263X166" alt="item3" class="img-responsive">
                                </div>
                                <div class="ed_mostrecomeded_course_slider ed_most_recomended_data">
                                    <h4><a href="course_single.html">User experience Jam </a><span>£38</span></h4>
                                </div>
                            </div>
                            <div class="item">
                                <div class="ed_item_img">
                                <img src="http://placehold.it/263X166" alt="item4" class="img-responsive">
                                </div>
                                <div class="ed_mostrecomeded_course_slider ed_most_recomended_data">
                                    <h4><a href="course_single.html">Girls on Rails </a><span>free</span></h4>
                                </div>
                            </div>
                            <div class="item">
                                <div class="ed_item_img">
                                    <img src="http://placehold.it/263X166" alt="item1" class="img-responsive">
                                </div>
                                <div class="ed_mostrecomeded_course_slider ed_most_recomended_data">
                                    <h4><a href="course_single.html">Coding Seminar </a><span>free</span></h4>
                                </div>
                            </div>
                            <div class="item">
                                <div class="ed_item_img">
                                <img src="http://placehold.it/263X166" alt="item2" class="img-responsive">
                                </div>
                                <div class="ed_mostrecomeded_course_slider ed_most_recomended_data">
                                    <h4><a href="course_single.html">Javascript Campus </a><span>£60</span></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->
    <!--Sidebar End-->
            </div>
        </div>
    </div>
    <!--Single content end-->
{% endblock %}
