[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
coverage = "*"
coveralls = "*"
tox = "*"

[packages]
django = "==2.2.7"
gunicorn = "*"
django-heroku = "*"
whitenoise = "*"

[requires]
python_version = "3.7"
