.price {
    color: #167ac6;;
}

.alert {
    margin-bottom: 0 !important;
}

.widget p {
    margin-bottom: 0;
}

.error{
    color: red;
}

/* .ed_header_top,
.ed_counter h2:after,
.ed_heading_top h3:after,
.ed_orange:hover,
.ed_orange,
.edoco_menu ul li ul.sub-menu li a {
    background-color:  #eb1736 !important;
}

.ed_info_wrapper a,
.ed_chart_ratio i,
.ed_stardiv .fas,
.ed_views i,
.ed_orange:hover,
.ed_green  {
    color: #eb1736 !important;
}

.ed_img_overlay,
.ed_footer_wrapper,
.ed_footer_top {
    background-color:  #7575dd !important;
}

.ed_footer_bottom {
    background-color: #5252d4;
}


.ed_pagetitle ul.breadcrumb li:last-child a {
    color: #0e0fed !important;
} */