{% extends 'base.html' %}
{% load static %}
{% block styles %}
{{ block.super }}
<link href="{% static 'css/courses/courses.css' %}" rel="stylesheet" type="text/css"/>
{% endblock %}
{% block content %}
{% load humanize %}
<!--Breadcrumb start-->
<div class="ed_pagetitle" data-stellar-background-ratio="0.5" data-stellar-vertical-offset="0" style="background-image: url(http://placehold.it/921X533);">
    <div class="ed_img_overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-4 col-sm-6">
                    <div class="page_title">
                        <h2>Contact Us</h2>
                    </div>
                </div>
                <div class="col-lg-6 col-md-8 col-sm-6">
                    <ul class="breadcrumb">
                        <li><a href="/">home</a></li>
                        <li><i class="fa fa-chevron-left"></i></li>
                        <li><a href="/contact">Contact Us</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--Breadcrumb end-->
    <!--Section fourteen Contact form start-->
    <div class="ed_transprentbg ed_toppadder80 ed_bottompadder80">
        <div class="container">
            <div class="row">
                <form action="/contact" method="POST">
                    {% csrf_token %}
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="ed_heading_top">
                            <h3>Send us a message</h3>
                        </div>
                    </div>
                    <div class="ed_contact_form ed_toppadder60">
                        <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="form-group">
                            <input type="text" id="uname" name="name" class="form-control"  placeholder="Your Name" required>
                            {% if form.name.errors %}
                                {% for error in form.name.errors %}
                                    <div class="error">
                                        <strong>{{ error|escape }}</strong>
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                        <div class="form-group">
                            <input type="email" id="umail" name="email" class="form-control"  placeholder="Your Email" required>
                            {% if form.email.errors %}
                                {% for error in form.email.errors %}
                                    <div class="error">
                                        <strong>{{ error|escape }}</strong>
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                        <div class="form-group">
                            <input type="text" id="sub" name="subject" class="form-control"  placeholder="Subject" required>
                            {% if form.subject.errors %}
                                {% for error in form.subject.errors %}
                                    <div class="error">
                                        <strong>{{ error|escape }}</strong>
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="form-group">
                            <textarea id="msg" name="message" class="form-control" rows="6" placeholder="Message" required></textarea>
                            {% if form.message.errors %}
                                {% for error in form.message.errors %}
                                    <div class="error">
                                        <strong>{{ error|escape }}</strong>
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                        <button id="ed_submit" class="btn ed_btn ed_orange pull-right">send</button>
                        <p id="err"></p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!--Section fourteen Contact form start-->
    <!--Section fifteen Contact form start-->
    <div class="ed_event_single_contact_address ed_toppadder70 ed_bottompadder70">
        <div class="container">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="ed_heading_top ed_bottompadder70">
                        <h3>Contact & Find</h3>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="row">
                        <div class="ed_event_single_address_info ed_toppadder50 ed_bottompadder50">
                            <h4 class="ed_bottompadder30">contact info</h4>
                            <p class="ed_bottompadder40 ed_toppadder10">You can always reach us via following contact details. We will give our best to reach you as possible.</p>
                            <p>Phone: <span>+254 {{ address.phone_number }}</span></p>
                            <p>Email: <a href="#">{{ address.email }}</a></p>
                            <p>Website: <a href="{{ address.website }}">{{ address.website }}</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="row">
                        <div class="ed_event_single_address_map">
                            <div id="map"></div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
{% endblock %}